@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #1c1d27;
    text-align: center;  
}
#container ,#pay p{
    color: white;
}
#container img{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    transition: 0.2s ease-in-out;
}
#container img:hover{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00;
    transition: 0.2s ease-in-out;
}
#pass img{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    transition: 0.2s ease-in-out;
}
#pass img:hover{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #a5038a;
    transition: 0.2s ease-in-out;
}
.price:after {
    content: ' \20BD';
}

#container p{
    font-weight: bold;
 }

/* ALFA */
.alfa img{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff0000;
    transition: 0.2s ease-in-out;
}
.t_bank img{
    height: 200;
    border-radius: 10px;
    box-shadow: 0 0 10px #d8db00;
    transition: 0.2s ease-in-out;
}
.number{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#link a{
    opacity: 0.4;
}
#link a:hover{
    opacity: 1;
}
.text{
    color: white;
    font-weight:300;
    font-family: roboto;
}
